body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #c0c0c0 ;
    /* display: flex;
    justify-content: center; */
}

.centralizer {
    margin: 20px auto ;
    /* padding: 0 auto; */
    /* max-width: 720px; */
    display: block;
    align-content: center;
    /* justify-content: center; */
    flex-direction: column;
}
.centralizer__title {
/* justify-content: center; */
margin: 0 auto;
text-align: center;
}

.field-textarea {
    background: #ffffff;
    /* position: absolute; */
    /* resize: horizontal; */
   display: block;
    height: 200px;
    border: 1px solid #000000;
    
    border-radius: 9px;
    /* min-width: 87%; */
   /* width: 720px; */
    /* width: inherit; */
    /* width:87%; */
    /* min-width: ; */
    max-width: 90%;
    min-width: 500px;

    padding: 5px;
    margin: 30px auto;
    
}

.keyboard {
    height: 240px;
    border: .1px solid #000000;
    border-radius: 9px;
    /* max-width: 90%; */
  max-width: 690px;
  /* width:100%; */
  display: flex;
  flex-direction: column;
  padding: 4px 4px 4px 4px; 

    margin: 0 auto;
    box-shadow: inset 5px 5px 5px 0 #CFCFCF;
    /* inset 5px 5px 5px 0 rgba(255,255,255,0.5); */
    /* box-shadow: inset 5px 5px 5px gold; */
}

.keyboard__row{
    margin: 0 ;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 0;
    // border: 1px solid #000000;
}

.keyboard__row_4{
    margin-left: 52px;
}

.key {
    display: flex;
    // border: .2px solid #000000;
    border-radius: 7px;
    width: 43px;
    height: 43px;
    background-color: #666666;
    color: #ffffff;
    margin: 0 2px;
    justify-content: center;
    align-self: center;
    line-height: 45px;
}

.key_active {
    background: #790604;
    text-tranform: lowercase;


}

.letter_lovercase {
    text-tranform: lowercase;
    background: #ffffff;

}
.key_plus { 
    display: flex;
    height: 16px;
    width: 70px;
    font-size: 10px;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 12px;
    align-items: flex-end;
}

.key_delete { 
    justify-content: flex-end;
    padding-right: 10px;
}

.key_tab { 
    justify-content: flex-start;
    padding-left: 10px;
}

.key_capslock {
    justify-content: flex-start;
    padding-left: 10px;
    width: 75px;
}

.key_enter {
    justify-content: flex-end;
    padding-right: 10px;
    width: 75px;
}

.key_shiftleft {
    justify-content: flex-start;
    padding-left: 10px;
    width: 99px;
}

.key_shiftright {
    justify-content: flex-end;
    padding-right: 10px;
    width: 98px;
}
.key_option,
.key_control {
    width: 43px;
    justify-content: center;
}

.key_command{
    width: 55px;
    justify-content: center;
}

.key_space {
    width: 235px;
}

.key_arrow{
    padding: 0;
    width: 43px;
    height: 21px;
    align-self:flex-end;
    margin-bottom: 2px;
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
  
}

.key_arrowleft {
    background-image: url('./assets/svg/left.svg');
    
}

.wrapper-up-down{
    width: 43px;
    height: 43px;
    flex-direction: column;
    margin-top: 2px;
    margin-right: 4px;
}

.key_arrowup{
    background-image: url('./assets/svg/up.svg');
}

.key_arrowdown {
    background-image: url('./assets/svg/down.svg');
}

.key_arrowright {
    background-image: url('./assets/svg/right.svg');
}



// key_plus key_delete